<?php
/**
 * @var \Gzhegow\Front\FrontTemplateContract $this
 */

/** @see /tests/disc/html/modals/demo/layout.modal-form.phtml */
$this->layout('@html::modals/demo/layout.modal-form', [
    'id'    => 'form-demo',
    'class' => null,
]);

?>


<?php $this->sectionStart('modal-title'); ?>

    <div style="text-align: center;">Пример формы в модальном окне</div>

<?php $this->sectionEnd(); ?>


<?php $this->sectionStart('modal-content'); ?>

    <div>
        Я пример формы в модальном окне
    </div>

<?php $this->sectionEnd(); ?>


<?php $this->sectionStart('form-content'); ?>

    <div>

        <label>
            <input type="text" placeholder="Ваше имя" />
        </label>

    </div>
    <div>

        <label>
            <input type="text" placeholder="+ 375 (__) ___-__-__" />
        </label>

    </div>

<?php $this->sectionEnd(); ?>


<?php $this->sectionStart('form-buttons'); ?>

    <div style="display: flex; flex-wrap: nowrap; justify-content: center; align-items: center;">

        <button type="button">Заказать звонок</button>

    </div>

<?php $this->sectionEnd(); ?>